(
    stopwatches: [
        (
            title: None,
            started: "2023-07-05T16:42:41.926356905Z",
            elasped_since_last_pause: 0,
            is_paused: true,
            provider_for_now: (),
        ),
    ],
)